<form method="post" action="{{ path('parameters_delete', {'configName': parameter.configName}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parameter.configName) }}">
    <button class="btn">Delete</button>
</form>
